@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.edu {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pacifico{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.base{
  color: rgb(34, 145, 145);
}
.light-text{
  color: rgb(113, 189, 189);
}
.bg1{
background-image: url(../src/assets/banner/1.PNG);
}
.btn-basic{
  background-color: rgb(75, 139, 139);
  /* background-color: rgb(4, 99, 99); */
  border-bottom: 1px white;
  border-radius: 20%;
  color: aliceblue;
}
.btn-filter{
  background-color: rgb(4, 99, 99);
  border-bottom: 1px white;
  border-radius: 4px;
  color: aliceblue;
}
.btn-social{
  background-color: rgb(75, 139, 139);
  border-bottom: 1px white;
  border-radius: 4px;
  color: aliceblue;
}
.btn-round{
  background-color: rgb(4, 99, 99);
  border-radius: 100%;
  color: aliceblue;
}